#Nameplate {

box-sizing: inherit;
background-image: url(https://raw.githubusercontent.com/greenfox-velox/velox-syllabus/master/week-01/5-cv/project/anakin.png);
color: rgb(34,34,34);
margin: -8px 25px 0px 25px;
background-size: cover;
border-top: solid 4px rgb(34,34,34);
height: 190px;
font-family: 'Abril Fatface', cursive;
padding-top: 240px;
padding-left: 300px;
}

#Nameplate h1 {
  font-size: 70px;
  margin-top: -80px;

}

#Nameplate h2 {
  font-size: 35px;
  margin-bottom: 55px;
}

main {
  margin-top: 80px;
  margin-left: 270px;
  margin-right: 270px;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: rgb(0,0,0);
}

main p {

}

main li{
margin-bottom: 6px;
}


.quote {
  margin-left: -10px;
  margin-right: -10px;
box-sizing: inherit;
background-color: rgb(68,68,68);
font-family: 'Abril Fatface', cursive;
color: white;
font-size: 30px;

margin-top: 50px;
padding: 0px 0px 10px 0px;
}

.quote span {
  position: 2px 2px;
}
