
p {

      font-size: 27px;
      color: rgb(230,10,0);
      margin: 10px;
      border: 5px solid #000;
      background-color: rgb(255,255,0);
      width: 210px;
      height: 50px;
      padding-top: 20px;
      padding-left: 20px;

}
